# dependencies
/node_modules

# next.js
/.next
/out

# testing
/coverage
/playwright-report
/test-results

# local configuration
.env*
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
